<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gabriel.Cat.S.Utilitats" version="1.0.4.2-preview" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0-preview2-26406-04" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.5.0-preview2-26406-04" targetFramework="net461" />
</packages>